.project-card {
  background-color: #333e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--font-clr);
  border-radius: .125rem;
  padding: .75rem 1rem;
  gap: .5rem;
  border: 1px solid var(--bg-shadow);
  box-shadow: 4px 4px 8px var(--bg-shadow);
  margin: 1rem 0;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

  }

  .project-card-tech{
    align-self: flex-start;

    p {
      margin-bottom: .25rem;
    }
  }
}

.active {
  .project-card{
    box-shadow: 4px 4px 8px var(--acc-clr);
  }
}
 
a {
  text-decoration: none;
}