.projects {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 4rem;

	* {
		outline: 1px solid black;
	}

	.projects-all {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		height: 50vh;
		overflow: scroll;
		padding: 2rem;
		outline: 1px solid black;
	}

	.projects-all::-webkit-scrollbar {
		display: none;
	}
}
