.projects {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 4rem;

	.projects-all {
		display: flex;
		flex-direction: column;
		margin-top: 4rem;
		margin-bottom: 14rem;
		gap: 3rem
	}

	.projects-all::-webkit-scrollbar {
		display: none;
	}

}
