.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--fs-medium);
	gap: 1.5rem;
	overflow: scroll;
	width: 100%;
	margin-top: 4rem;

	.about-intro {
		width: 90%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.img-holder {
			height: 300px;
			width: 300px;
			background-color: black;
		}

		.about-intro-text {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			max-width: 720px;
		}
	}

	.skills {
		display: flex;
		width: 90%;
		justify-content: space-around;
		margin: 7rem auto 10rem;

		h3 {
			font-size: var(--fs-medium);
			color: var(--bg-clr);
			text-transform: uppercase;
			font-weight: var(--fw-bold);
			margin-bottom: 0.75rem;
		}

		.links {
			img {
				width: 1.25rem;
				height: 1.25rem;
				margin: auto 1.125rem;
			}

			.programming-skills,
			.contact-links {
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
			}

			.programming-skills {
				margin: auto auto 2.5rem;
			}
		}
	}

	.about-hard-skills,
	.about-soft-skills {
		display: flex;
		flex-direction: column;
		
		li {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 500;
			font-size: var(--fs-medium);
			width: 350px;
			margin: .5rem auto auto 1.75rem;
		}
	}

	.about-contact {
		margin-bottom: 6rem;
	}
}

.about::-webkit-scrollbar {
	display: none;
}
