@import '../../breakpoints';

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--fs-medium);
	gap: 1.5rem;
	overflow: scroll;
	width: 100%;
	margin-top: 4rem;

	.about-intro {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;

		img {
			height: 300px;
			aspect-ratio: 1/1;
			border-radius: 999em;
			object-fit: cover;
		}

		.about-intro-text {
			display: flex;
			flex-direction: column;
			gap: calc(var(--fs-large) + 0.4 * var(--fs-large));
			max-width: 720px;

			p {
				font-size: var(--fs-large);
			}
		}
	}

	.skills {
		display: flex;
		justify-content: space-between;
		gap: 6rem;
		margin-top: 7rem;

		h3 {
			font-size: var(--fs-medium);
			color: var(--bg-clr);
			text-transform: uppercase;
			font-weight: var(--fw-bold);
			margin-bottom: 0.75rem;
		}

		.links {
			img {
				width: 1.25rem;
				height: 1.25rem;
				margin-right: 1.125rem;
			}

			.programming-skills,
			.contact-links {
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
			}

			.programming-skills {
				margin: auto auto 2.5rem;
			}
		}

		.about-hard-skills,
		.about-soft-skills {
			display: flex;
			flex-direction: column;

			li {
				font-family: 'Lato';
				font-style: normal;
				font-weight: 500;
				font-size: var(--fs-medium);
				max-width: 300px;
				margin: 0.5rem auto auto 1.75rem;
			}
		}
	}

	.about-contact {
		margin: 10rem auto;
	}
}

.about::-webkit-scrollbar {
	display: none;
}

@media (max-width: $mobile) {
	.about-intro {
		flex-direction: column;
	}

	.skills{
		flex-direction: column;
	}

	.about-contact {
		max-width: 100%;
		margin: -40rem auto;
	}
}
