@import '../../breakpoints';

header {
    width: 100%;
    background-color: var(--bg-clr);
    clip-path: ellipse(65% 100% at 50% 0%);

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        width: 80%;
        margin: auto;
        gap: 1rem;

        a {
            color: var(--acc-clr);
        }

        .logo {
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: var(--fs-large);
        }

    }

    .main-title {
        text-align: center;
        color: var(--acc-clr);
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: var(--fs-xlarge);
        line-height: 65px;
        background-color: var(--bg-clr);
        width: 100%;
        padding: 4rem;
        overflow: hidden;

        span {
            font-family: 'Play';
        }
    }
}

@media (max-width: $mobile) {
    header {
        clip-path: ellipse(100% 80% at 50% 10%);

        .main-title {
            min-height: 200px;
        }

        .home-title.home-title {
            min-height: 320px;
        }
    }
}
