header {
	width: 100%;
	.navbar {
		background-color: var(--bg-clr);
		display: flex;
		justify-content: space-around;
		gap: 1rem;
		padding: 1rem;

		a {
			color: var(--acc-clr);
		}

		.logo {
			font-family: 'Play';
			font-style: normal;
			font-weight: 700;
			font-size: var(--fs-large);
		}

		.navbar-links {
			display: flex;
			gap: 0.3rem;
		}
		.navbar-links a {
			padding: 0.25rem 0.5rem;
			font-family: inherit;
			font-size: 1.25rem;
		}

		.active {
			color: var(--acc-clr);
			outline: 2px solid var(--acc-clr);
			border-radius: 28px;
		}
	}

	.main-title {
		text-align: center;
		color: var(--acc-clr);
		font-family: 'Play';
		font-style: normal;
		font-weight: 700;
		font-size: var(--fs-xlarge);
		line-height: 65px;
		background-color: var(--bg-clr);
		width: 100%;
		clip-path: ellipse(65% 100% at 50% 0%);
		padding: 4rem;
		overflow: hidden;

		 span {
			font-family: 'Play';
		}
	}
}
