.navbar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem;
  border-bottom: 1px solid #fff;

  .navbar-links {
    display: flex;
    gap: 1rem;
    
    a {
      color: #fff;
      text-decoration: none;
      padding-bottom: .5rem;
    }
    .active {
      color: rgb(238, 238, 6);
      text-shadow: 1px 1px 2px yellow;
      border-bottom: 1px solid yellow;
    }
  }
}