@import '../../breakpoints';

footer {
    color: var(--bg-clr);
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 0 1.25rem 0;

    .footer-icons {
        display: flex;
		flex-wrap: wrap;
        align-items: center;
        gap: 1.25rem;
    }

    .footer-icons img {
        width: 2rem;
    }
}

@media (max-width: $mobile) {
	footer {
		margin: 1.25rem 0;
	}
}
