@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
	--acc-clr: yellow;
	--font-clr: #fff;
	--bg-clr: #171616;
	--bg-shadow: rgba(67, 67, 67, 0.933);
	--fs-small: 0.625rem;
	--fs-medium: 1.25rem;
	--fs-large: 1.75rem;
	--fs-xlarge: 2rem;
	--fs-xxl: 3rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
  font-family: 'Lato', sans-serif;
	line-height: 1.4;
}

html {
	background-color: #171616;
	color: rgb(239, 234, 234);
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.app-body {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	height: 90vh;
}
