*, *::before, *::after {
  margin: 0;
  padding: 0;
}

html {
  background-color: #171616;
  color: rgb(239, 234, 234);
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

